#     
# Aliases    
#     

# Stupid Microsoft Updates can't kill these jobs..
alias MSupdate="ps -ef | grep -e \"Microsoft Database Daemon\" -e \"SyncServicesAgent\" | grep -v \"grep\" | awk '{pids=pids\" \"\$2} END {print \"kill -9 \" pids}'"


# alias typos   
alias alais="alias"
alias alise="alias"
alias mc="mv"

#
# login
#
alias dkftp="ssh twohlever@upload.clcbio.com" 



#
# CLC
#
alias manGrep='function _manGrep(){ grep "$1" /Users/theresawohlever/eclipse/workspace/manual/trunk/manual/{*,*/*,*/*/*,*/*/*/*}.tex; }; _manGrep '

alias GxSudo="sudo /Applications/CLCGenomicsServer/current/CLCGenomicsServer" 
alias GxSclt="clcserver -U root -P 7777 -W default -S localhost"
alias get_pdfs.sh="/Users/theresawohlever/bin/download_pdfs.sh"

alias sshCust='ssh twohlever@customsol01-master'






#     
# Simple Shortcuts    
#     

alias vic="vi ~/.bashrc"

alias scap="screencapture -s -t pdf ~/Desktop/ScreenCapture.pdf"
alias scapt="screencapture -s -t pdf -T 3 ~/Desktop/ScreenCapture.pdf"
    
alias s="source ~/.bashrc"  
    
alias hm="history | more"  
alias hg="history | grep"  
    
alias lg="ll | grep "
alias lls="ll" 
alias ag="cat ~/.aliases | grep" 
    

alias p=pwd
alias cls=clear    
alias c=clear
alias lo=logout    
alias e=exit    
    
alias m=more    
alias mr="more *[Rr][Ee][Aa][Dd][Mm][Ee]*"   
alias vmr="vi *[Rr][Ee][Aa][Dd][Mm][Ee]*"   
alias nvmr="vi README"   
    
alias via="vi ~/.aliases"   
    


    
#     
# EFF UP Protection   
#     
    
alias rm="rm -i"   
alias mv="mv -i"   
    
    
#     
# Typos    
#     
    
alias mroe=more    
alias sl=ls    
alias ks=ls    
alias clera=clear    
alias cler=clear    
alias arachen=arachne    
alias ehad=head    
alias histroy=history    
alias remane=rename    
alias bi=vi    
    
    
#     
# ls    
#     
# -C=list entries by columns 
# -F=append indicator (one of */=@|)
#     
alias ls='ls -CF'  
alias ll='ls -l'   
alias la='ls -a'   
alias lla='ls -al'   
alias lg='ls -al | grep '
alias lll='ll -L'
alias l='ll'
    


#     
# cd    
#     
alias '..'='cd ..'
alias '...'='cd ../../'


